<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClassificationUsingWikipedia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebPageClassification</display-name>
    <servlet-name>WebPageClassification</servlet-name>
    <servlet-class>categorization.WebPageClassification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebPageClassification</servlet-name>
    <url-pattern>/WebPageClassification</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>host</param-name>
  	<param-value>localhost</param-value>
 </context-param>
  	
  <context-param>
  	<param-name>database</param-name>
  	<param-value>wiki</param-value>
 </context-param>
  	
  <context-param>
  	<param-name>username</param-name>
  	<param-value>tejas</param-value>
 </context-param> 	
  
  <context-param>
  	<param-name>password</param-name>
  	<param-value>temp#1</param-value>
  </context-param>
  
  <listener>
    <listener-class>categorization.InitListener</listener-class>
  </listener>
</web-app>